.link {
    font-size: 30px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    text-align: left;
}

.container {
    margin-top: 100px;
    margin: 50px;
}

h1 {
    font-size: 45px;
    text-align: center;

}