<div class="container">
    <h1>Welcome to NGRX Tutorial</h1>

    <h2>Here We will implement NgRx by Creating 2 modules: CounterModule and PostsModule.</h2>

    <ul>
        <li>We will see how to create State, Actions , Reducers, Selectors</li>
        <li>We will see how to maintain state in different modules</li>
        <li>How to isolate our components from Services using Effect</li>
    </ul>

    <h2>Counter Module</h2>
    <section>In Counter Module, I have implemented a counter. Here user can increment, decrement, increment the counter
        by some value and reset the colunter</section>

    <h2>Posts Module</h2>
    <section>In Posts Module, User can Add, Update, Delete or Clear all The Posts</section>

</div>